@font-face {
    font-family: 'consolat';
    src: url('../fonts/consolab.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --black: #1c1c1c;
    --grey: darkgrey;
    --white: whitesmoke;
    --purple: #9797e6;
    --lite-purple: #c9c9ff;

}


/**Body**/

.portfolio_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25%;
}

.item_image {
    width: 300px;
    transition: all 500ms ease 0s;
    display: block;
}

.item_image:hover {
    filter: brightness(1.3);
}

.link_img {
    cursor: none;
}

.item_title {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 17px;
    font-family: 'consolat', sans-serif;
}

/* Image Gallery */

*{box-sizing:border-box}

img{

    max-width: 100%;

}

/*pour le saut de page, on cree une class que l'on met en display:none*/
.target{

    display: none

}


/* englobe le slider */

.cadre_diapo{

    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;

}

.interieur_diapo{
    display: flex;
    width: 400%;
    transition: transform .6s ease-in-out

}

.description{

    position: relative;

}


#photo_1 {
    cursor: none;
}

#photo_1:target ~ .cadre_diapo .interieur_diapo{

    transform:translatex(0)

}

#photo_2:target ~ .cadre_diapo .interieur_diapo{

    transform:translatex(-25%)

}

#photo_3:target ~ .cadre_diapo .interieur_diapo{

    transform:translatex(-50%)

}

#photo_4:target ~ .cadre_diapo .interieur_diapo{

    transform:translatex(-75%)

}

.navigation_diapo{

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0

}

.navigation_diapo li {
    padding: .25rem;

}

.navigation_diapo img{

    border: 3px solid white;
    box-shadow:0 0 5px hsla(0,0%,0%,.4);


}


@media (min-width:31.25rem){

    .description span{

        font-size: initial

    }

}