@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

:root {
    --black: #1c1c1c;
    --grey: darkgrey;
    --white: whitesmoke;
    --purple: #9797e6;
    --lite-purple: #c9c9ff;

}

.service_text {
    text-align: center;
    color: var(--white);
    font-family: 'consolat', sans-serif;
}

.service_title {
    font-size: 30px;
}

.service_description {
    font-size: 17px;
}